<nav class="navbar navbar-expand-md navbar-light bg-light text-white content-shadow">
  <div class="container d-flex justify-content-between">
    <a href="{{site.baseurl}}/" class="navbar-brand d-flex">
      <img class="d-inline-block align-top" src="{{ '/assets/icons/laptop.svg' | relative_url }}" height="40"
        width="34" />
      <h1 class="fs-3 px-2 fw-bold">Geekmonks</h1>
      <img class="d-inline-block align-top" src="{{ '/assets/icons/tux.svg' | relative_url }}" height="40"
        width="34" />
    </a>
    <!-- Toggle Button to expand and collapse the nav links -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavBanner"
      aria-controls="navbarNavBanner" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavBanner" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% for item in site.data.banner %}
        <li class="nav-item active">
          <a href="{{ item.link | relative_url }}" class="nav-link fw-bold active"
            {% if item.external %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>