<nav class="navbar navbar-expand-sm navbar-light bg-light text-white">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex">
      <img class="d-inline-block align-top" src="{{ '/assets/icons/laptop.svg' | relative_url }}" height="40"
        width="34" />
      <h1 class="fs-3 px-2">Quick Revision Hub</h1>
    </a>
  </div>
  
  <!-- Toggle Button to expand and collapse the nav links -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link fw-bold active">Home</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link fw-bold active">Github</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link fw-bold active">Linkedin</a>
      </li>
    </ul>
  </div>
  </div>
</nav>