<nav class="navbar navbar-expand-xl navbar-custom">
  <div class="container-fluid">

    <!-- Toggler for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible nav items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        {% for file in site.data.nav_files.files %}
          {% assign nav_data = site.data[file] %}
          {% for item in nav_data %}
            {% if item.submenu %}
              <!-- Dropdown with submenu -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold text-white" href="{{ item.url | relative_url }}" role="button" aria-expanded="false">
                  {{ item.title }}
                </a>
                <ul class="dropdown-menu dropdown-bg-green">
                  {% for subitem in item.submenu %}
                    {% if subitem.divider %}
                      <li><hr class="dropdown-divider"></li>
                    {% else %}
                      <li><a class="dropdown-item dropdown-bg-green" href="{{ subitem.url | relative_url }}"
                          {% if subitem.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                          {{ subitem.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <!-- Simple nav item -->
              <li class="nav-item fw-bold text-white">
                <a class="nav-link" href="{{ item.url | relative_url }}"
                  {% if subitem.external %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>